<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="taser">

    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/base.xacro" />
    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/arm.xacro" />
    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/wheel.xacro" />
    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/ros2_control.xacro" />

    <xacro:taser_ros2_control />

    <xacro:base />

    <xacro:arm side="left" offset_sign="+" />
    <xacro:arm side="right" offset_sign="-" />

    <xacro:wheel side="left" offset_sign="+" />
    <xacro:wheel side="right" offset_sign="-" />

</robot>