<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="taser">

    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/base.xacro" />
    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/arm.xacro" />
    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/wheel.xacro" />
    <xacro:include filename="$(find taser_ros)/robot_description/urdf/xacro/ros2_control.xacro" />

    <xacro:taser_ros2_control />

    <xacro:base />

    <xacro:arm name="left" y_offset="0.3" />
    <xacro:arm name="right" y_offset="-0.3" />

    <xacro:wheel index="1" parent_link="base" y_offset="0.3" z_offset="-0.5" />
    <xacro:wheel index="2" parent_link="base" y_offset="-0.3" z_offset="-0.5" />

</robot>