<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="blue">
        <color rgba="0 0.1 0.5 1" />
    </material>

    <xacro:macro name="base">

        <link name="base_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <box size="0.2 0.5 1" />
                </geometry>
                <material name="blue" />
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <box size="0.2 0.5 1" />
                </geometry>
            </collision>
        </link>

    </xacro:macro>

    <xacro:macro name="lock" params="side offset_sign">

        <link name="${side}_lock">
            <visual>
                <origin rpy="0.0 0.0 0.0" xyz="${offset_sign}0.0125 0.0 0.0" />
                <geometry>
                    <box size="0.025 0.4 1.0" />
                </geometry>
                <material name="blue" />
            </visual>
            <collision>
                <origin rpy="0.0 0.0 0.0" xyz="${offset_sign}0.0125 0.0 0.0" />
                <geometry>
                    <box size="0.025 0.4 1.0" />
                </geometry>
            </collision>
        </link>
        <joint name="base_link_${side}_lock_joint" type="prismatic">
            <parent link="base_link" />
            <child link="${side}_lock" />
            <origin rpy="0.0 0.0 0.0" xyz="${offset_sign}0.1 0.0 -0.15" />
            <axis xyz="0 0 1" />
            <dynamics damping="0.1" friction="0.1" />
            <limit effort="0.0" lower="0.0" upper="0.15" velocity="0.0" />
        </joint>

        <link name="${side}_lock_support">
            <visual>
                <origin rpy="0.0 0.0 0.0" xyz="${offset_sign}0.075 0.0 -0.01" />
                <geometry>
                    <box size="0.15 0.4 0.02" />
                </geometry>
                <material name="blue" />
            </visual>
            <collision>
                <origin rpy="0.0 0.0 0.0" xyz="${offset_sign}0.075 0.0 -0.01" />
                <geometry>
                    <box size="0.15 0.4 0.02" />
                </geometry>
            </collision>
        </link>
        <joint name="${side}_lock_support_joint" type="revolute">
            <parent link="${side}_lock" />
            <child link="${side}_lock_support" />
            <origin rpy="0.0 0.0 0.0" xyz="${offset_sign}0.025 0.0 -0.48" />
            <axis xyz="0 ${offset_sign}1 0" />
            <dynamics damping="0.1" friction="0.1" />
            <limit effort="0.0" lower="-1.57" upper="0.0" velocity="0.0" />
        </joint>

    </xacro:macro>

</robot>