<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="blue">
        <color rgba="0 0.1 0.5 1" />
    </material>

    <xacro:macro name="base">

        <link name="base_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <box size="0.2 0.5 1" />
                </geometry>
                <material name="blue" />
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <geometry>
                    <box size="0.2 0.5 1" />
                </geometry>
            </collision>
        </link>

    </xacro:macro>

    <xacro:macro name="lock" params="side offset_sign default_angle lower_limit upper_limit">

        <link name="${side}_lock">
            <visual>
                <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.0866" />
                <geometry>
                    <box size="0.02 0.3 0.1732" />
                </geometry>
                <material name="blue" />
            </visual>
            <collision>
                <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.0866" />
                <geometry>
                    <box size="0.02 0.3 0.1732" />
                </geometry>
            </collision>
        </link>
        <joint name="base_link_${side}_lock_joint" type="revolute">
            <parent link="base_link" />
            <child link="${side}_lock" />
            <origin rpy="0.0 ${default_angle} 0.0" xyz="${offset_sign}0.1 0.0 -0.5" />
            <axis xyz="0 1 0" />
            <limit lower="${lower_limit}" upper="${upper_limit}" effort="0.0" velocity="0.0" />
        </joint>

    </xacro:macro>

</robot>