<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="taser">

    <xacro:include filename="./base.xacro" />
    <xacro:include filename="./arm.xacro" />
    <xacro:include filename="./wheel.xacro" />
    <xacro:include filename="./ros2_control.xacro" />

    <xacro:taser_ros2_control />

    <xacro:base />
    <xacro:lock side="front" offset_sign="+" default_angle="-0.5236" lower_limit="-2.618" upper_limit="0.0" />
    <xacro:lock side="back" offset_sign="-" default_angle="0.5236" lower_limit="0.0" upper_limit="2.618" />

    <xacro:arm side="left" offset_sign="+" />
    <xacro:arm side="right" offset_sign="-" />

    <xacro:wheel side="left" offset_sign="+" />
    <xacro:wheel side="right" offset_sign="-" />

</robot>