<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sketch_follower">

    <xacro:include filename="$(find wheeled_humanoid_ros)/urdf/base.xacro" />
    <xacro:include filename="$(find wheeled_humanoid_ros)/urdf/arm.xacro" />
    <xacro:include filename="$(find wheeled_humanoid_ros)/urdf/wheel.xacro" />
    <xacro:include filename="$(find wheeled_humanoid_ros)/urdf/ros2_control.xacro" />

    <xacro:wheeled_humanoid_ros2_control />

    <!-- map -> odom - Localization corrections (ex. SLAM) -->
    <link name="map" />
    <!-- odom -> base - Robot motion relative to starting position -->
    <link name="odom" />

    <joint name="map_odom_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0" />
        <parent link="map" />
        <child link="odom" />
    </joint>

    <xacro:base />

    <xacro:arm name="left" y_offset="1.125" />
    <xacro:arm name="right" y_offset="-1.125" />

    <xacro:wheel index="1" parent_link="base" y_offset="1.125" z_offset="-1.75" />
    <xacro:wheel index="2" parent_link="base" y_offset="-1.125" z_offset="-1.75" />

</robot>